[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
requests = "*"
XlsxWriter = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
